footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 14vh;
    padding: 1rem;
    background-color: #383838;
}

.tituloFooter{
    color: #fff;
}

.parFooter{
    color: #fff;
}